body{
    padding:0 50px 0 50px;
}

#main-container{
    background-color:#f8f8f8;
    border: 1px solid #222;
}

#main-form{
    background-color:#f9f9f9;
    border:1px solid #ddd;
    box-shadow:2px 3px 3px rgba(245,245,245,.8);
    padding:15px;
}

#main-form label{
    font-weight:100;
}


#main-form input{
    margin-bottom:10px;
}

#search-btn{
    width:100%;
    margin-top:20px;
    background-color:#3498db;
    border:1px solid #2980b9;
    color:#f9f9f9;
    letter-spacing:1px;
}

#main-form hr{
    margin-top:10px;
    margin-bottom:10px;
    border: none;
    border-bottom: 1px solid #eee;
}

#main-form input[type="checkbox"]{
    margin:0 15px 0 5px;
}