<section id="FlightsApp">
    <header id="header">
        <h1>Tetra Flights of Devil</h1>
    </header>

    {{outlet}}
</section>

<footer id="info">
    <p>2014 - Nearsoft Academy program</p>
</footer>